:root {
	--bright-white_hue: 0deg;
	--bright-white_saturation: 0%;
	--bright-white_lightness: 92.941%;
	--bright-white_alpha: 1;

	/* prettier-ignore */
	--bright-white_hsl: var(--bright-white_lightness) var(--bright-white_hue) var(--bright-white_saturation);
	--bright-white: hsl(var(--bright-white_hsl) var(--bright-white_alpha));
}
