:root {
	--yellow_hue: 43.605deg;
	--yellow_saturation: 93.478%;
	--yellow_lightness: 36.078%;
	--yellow_alpha: 1;

	/* prettier-ignore */
	--yellow_hsl: var(--yellow_lightness) var(--yellow_hue) var(--yellow_saturation);
	--yellow: hsl(var(--yellow_hsl) var(--yellow_alpha));
}
