:root {
	--bright-magenta_hue: 274.699deg;
	--bright-magenta_saturation: 60.584%;
	--bright-magenta_lightness: 73.137%;
	--bright-magenta_alpha: 1;

	/* prettier-ignore */
	--bright-magenta_hsl: var(--bright-magenta_lightness) var(--bright-magenta_hue) var(--bright-magenta_saturation);
	--bright-magenta: hsl(var(--bright-magenta_hsl) var(--bright-magenta_alpha));
}
