:root {
	--bright-magenta_lightness: 73.137%;
	--bright-magenta_chroma: 48.5%;
	--bright-magenta_hue: 274.699deg;
	--bright-magenta_alpha: 1;
	--bright-magenta_lch: var(--bright-magenta_lightness) var(--bright-magenta_chroma) var(--bright-magenta_hue);
	--bright-magenta_lcha: var(--bright-magenta_lch) / var(--bright-magenta_alpha);
	--bright-magenta: lch(var(--bright-magenta_lch));
}
