:root {
	--magenta_hue: 273.962deg;
	--magenta_saturation: 59.551%;
	--magenta_lightness: 65.098%;
	--magenta_alpha: 1;

	/* prettier-ignore */
	--magenta_hsl: var(--magenta_lightness) var(--magenta_hue) var(--magenta_saturation);
	--magenta: hsl(var(--magenta_hsl) var(--magenta_alpha));
}
