:root {
	--magenta_lightness: 65.098%;
	--magenta_chroma: 62.607%;
	--magenta_hue: 273.962deg;
	--magenta_alpha: 1;
	--magenta_lch: var(--magenta_lightness) var(--magenta_chroma) var(--magenta_hue);
	--magenta_lcha: var(--magenta_lch) / var(--magenta_alpha);
	--magenta: lcha(var(--magenta_lcha));
}
