:root {
	--blue-50: #f8faff;
}

:root {
	--blue-100: #e7edff;
}

:root {
	--blue-200: #c3d4fe;
}

:root {
	--blue-300: #9cbcfd;
}

:root {
	--blue-400: #6ea5fb;
}

:root {
	--blue-500: #018df8;
}

:root {
	--blue-600: #1b73ca;
}

:root {
	--blue-700: #2060a6;
}

:root {
	--blue-800: #214c81;
}

:root {
	--blue-900: #1f3c64;
}
