:root {
	--blue-50: #F8FAFF;
}

:root {
	--blue-100: #E7EDFF;
}

:root {
	--blue-200: #C3D4FE;
}

:root {
	--blue-300: #9CBCFD;
}

:root {
	--blue-400: #6EA5FB;
}

:root {
	--blue-500: #018DF8;
}

:root {
	--blue-600: #1B73CA;
}

:root {
	--blue-700: #2060A6;
}

:root {
	--blue-800: #214C81;
}

:root {
	--blue-900: #1F3C64;
}
