:root {
	--blue-50: #F8FAFFFF;
}

:root {
	--blue-100: #E7EDFFFF;
}

:root {
	--blue-200: #C3D4FEFF;
}

:root {
	--blue-300: #9CBCFDFF;
}

:root {
	--blue-400: #6EA5FBFF;
}

:root {
	--blue-500: #018DF8FF;
}

:root {
	--blue-600: #1B73CAFF;
}

:root {
	--blue-700: #2060A6FF;
}

:root {
	--blue-800: #214C81FF;
}

:root {
	--blue-900: #1F3C64FF;
}
