:root {
	--blue-50_red: 248;
	--blue-50_green: 250;
	--blue-50_blue: 255;
	--blue-50_alpha: 1;
	--blue-50_rgb: var(--blue-50_red) var(--blue-50_green) var(--blue-50_blue);
	--blue-50_rgba: var(--blue-50_rgb) / var(--blue-50_alpha);
	--blue-50: rgba(var(--blue-50_rgba));
}

:root {
	--blue-100_red: 231;
	--blue-100_green: 237;
	--blue-100_blue: 255;
	--blue-100_alpha: 1;
	--blue-100_rgb: var(--blue-100_red) var(--blue-100_green) var(--blue-100_blue);
	--blue-100_rgba: var(--blue-100_rgb) / var(--blue-100_alpha);
	--blue-100: rgba(var(--blue-100_rgba));
}

:root {
	--blue-200_red: 195;
	--blue-200_green: 212;
	--blue-200_blue: 254;
	--blue-200_alpha: 1;
	--blue-200_rgb: var(--blue-200_red) var(--blue-200_green) var(--blue-200_blue);
	--blue-200_rgba: var(--blue-200_rgb) / var(--blue-200_alpha);
	--blue-200: rgba(var(--blue-200_rgba));
}

:root {
	--blue-300_red: 156;
	--blue-300_green: 188;
	--blue-300_blue: 253;
	--blue-300_alpha: 1;
	--blue-300_rgb: var(--blue-300_red) var(--blue-300_green) var(--blue-300_blue);
	--blue-300_rgba: var(--blue-300_rgb) / var(--blue-300_alpha);
	--blue-300: rgba(var(--blue-300_rgba));
}

:root {
	--blue-400_red: 110;
	--blue-400_green: 165;
	--blue-400_blue: 251;
	--blue-400_alpha: 1;
	--blue-400_rgb: var(--blue-400_red) var(--blue-400_green) var(--blue-400_blue);
	--blue-400_rgba: var(--blue-400_rgb) / var(--blue-400_alpha);
	--blue-400: rgba(var(--blue-400_rgba));
}

:root {
	--blue-500_red: 1;
	--blue-500_green: 141;
	--blue-500_blue: 248;
	--blue-500_alpha: 1;
	--blue-500_rgb: var(--blue-500_red) var(--blue-500_green) var(--blue-500_blue);
	--blue-500_rgba: var(--blue-500_rgb) / var(--blue-500_alpha);
	--blue-500: rgba(var(--blue-500_rgba));
}

:root {
	--blue-600_red: 27;
	--blue-600_green: 115;
	--blue-600_blue: 202;
	--blue-600_alpha: 1;
	--blue-600_rgb: var(--blue-600_red) var(--blue-600_green) var(--blue-600_blue);
	--blue-600_rgba: var(--blue-600_rgb) / var(--blue-600_alpha);
	--blue-600: rgba(var(--blue-600_rgba));
}

:root {
	--blue-700_red: 32;
	--blue-700_green: 96;
	--blue-700_blue: 166;
	--blue-700_alpha: 1;
	--blue-700_rgb: var(--blue-700_red) var(--blue-700_green) var(--blue-700_blue);
	--blue-700_rgba: var(--blue-700_rgb) / var(--blue-700_alpha);
	--blue-700: rgba(var(--blue-700_rgba));
}

:root {
	--blue-800_red: 33;
	--blue-800_green: 76;
	--blue-800_blue: 129;
	--blue-800_alpha: 1;
	--blue-800_rgb: var(--blue-800_red) var(--blue-800_green) var(--blue-800_blue);
	--blue-800_rgba: var(--blue-800_rgb) / var(--blue-800_alpha);
	--blue-800: rgba(var(--blue-800_rgba));
}

:root {
	--blue-900_red: 31;
	--blue-900_green: 60;
	--blue-900_blue: 100;
	--blue-900_alpha: 1;
	--blue-900_rgb: var(--blue-900_red) var(--blue-900_green) var(--blue-900_blue);
	--blue-900_rgba: var(--blue-900_rgb) / var(--blue-900_alpha);
	--blue-900: rgba(var(--blue-900_rgba));
}
