:root {
	--bright-red_hue: 6.774deg;
	--bright-red_saturation: 83.784%;
	--bright-red_lightness: 70.98%;
	--bright-red_alpha: 1;

	/* prettier-ignore */
	--bright-red_hsl: var(--bright-red_lightness) var(--bright-red_hue) var(--bright-red_saturation);
	--bright-red: hsl(var(--bright-red_hsl) var(--bright-red_alpha));
}
