:root {
	--red-50: #FFF9F7;
}

:root {
	--red-100: #FFE9E5;
}

:root {
	--red-200: #FFC7BE;
}

:root {
	--red-300: #FBA69A;
}

:root {
	--red-400: #F38577;
}

:root {
	--red-500: #E85E52;
}

:root {
	--red-600: #BD4F44;
}

:root {
	--red-700: #9C433A;
}

:root {
	--red-800: #7A362F;
}

:root {
	--red-900: #5F2C26;
}
