:root {
	--red-50: #fff9f7;
}

:root {
	--red-100: #ffe9e5;
}

:root {
	--red-200: #ffc7be;
}

:root {
	--red-300: #fba69a;
}

:root {
	--red-400: #f38577;
}

:root {
	--red-500: #e85e52;
}

:root {
	--red-600: #bd4f44;
}

:root {
	--red-700: #9c433a;
}

:root {
	--red-800: #7a362f;
}

:root {
	--red-900: #5f2c26;
}
