:root {
	--red-50: #FFF9F7FF;
}

:root {
	--red-100: #FFE9E5FF;
}

:root {
	--red-200: #FFC7BEFF;
}

:root {
	--red-300: #FBA69AFF;
}

:root {
	--red-400: #F38577FF;
}

:root {
	--red-500: #E85E52FF;
}

:root {
	--red-600: #BD4F44FF;
}

:root {
	--red-700: #9C433AFF;
}

:root {
	--red-800: #7A362FFF;
}

:root {
	--red-900: #5F2C26FF;
}
