:root {
	--red-50_hue: 15deg;
	--red-50_saturation: 100%;
	--red-50_lightness: 98.431%;
	--red-50_hsl: var(--red-50_hue) var(--red-50_saturation) var(--red-50_lightness);
	--red-50: hsl(var(--red-50_hsl));
}

:root {
	--red-100_hue: 9.231deg;
	--red-100_saturation: 100%;
	--red-100_lightness: 94.902%;
	--red-100_hsl: var(--red-100_hue) var(--red-100_saturation) var(--red-100_lightness);
	--red-100: hsl(var(--red-100_hsl));
}

:root {
	--red-200_hue: 8.308deg;
	--red-200_saturation: 100%;
	--red-200_lightness: 87.255%;
	--red-200_hsl: var(--red-200_hue) var(--red-200_saturation) var(--red-200_lightness);
	--red-200: hsl(var(--red-200_hsl));
}

:root {
	--red-300_hue: 7.423deg;
	--red-300_saturation: 92.381%;
	--red-300_lightness: 79.412%;
	--red-300_hsl: var(--red-300_hue) var(--red-300_saturation) var(--red-300_lightness);
	--red-300: hsl(var(--red-300_hsl));
}

:root {
	--red-400_hue: 6.774deg;
	--red-400_saturation: 83.784%;
	--red-400_lightness: 70.98%;
	--red-400_hsl: var(--red-400_hue) var(--red-400_saturation) var(--red-400_lightness);
	--red-400: hsl(var(--red-400_hsl));
}

:root {
	--red-500_hue: 4.8deg;
	--red-500_saturation: 76.531%;
	--red-500_lightness: 61.569%;
	--red-500_hsl: var(--red-500_hue) var(--red-500_saturation) var(--red-500_lightness);
	--red-500: hsl(var(--red-500_hsl));
}

:root {
	--red-600_hue: 5.455deg;
	--red-600_saturation: 47.826%;
	--red-600_lightness: 50.392%;
	--red-600_hsl: var(--red-600_hue) var(--red-600_saturation) var(--red-600_lightness);
	--red-600: hsl(var(--red-600_hsl));
}

:root {
	--red-700_hue: 5.51deg;
	--red-700_saturation: 45.794%;
	--red-700_lightness: 41.961%;
	--red-700_hsl: var(--red-700_hue) var(--red-700_saturation) var(--red-700_lightness);
	--red-700: hsl(var(--red-700_hsl));
}

:root {
	--red-800_hue: 5.6deg;
	--red-800_saturation: 44.379%;
	--red-800_lightness: 33.137%;
	--red-800_hsl: var(--red-800_hue) var(--red-800_saturation) var(--red-800_lightness);
	--red-800: hsl(var(--red-800_hsl));
}

:root {
	--red-900_hue: 6.316deg;
	--red-900_saturation: 42.857%;
	--red-900_lightness: 26.078%;
	--red-900_hsl: var(--red-900_hue) var(--red-900_saturation) var(--red-900_lightness);
	--red-900: hsl(var(--red-900_hsl));
}
