:root {
	--red-50_red: 255;
	--red-50_green: 249;
	--red-50_blue: 247;
	--red-50_rgb: var(--red-50_red) var(--red-50_green) var(--red-50_blue);
	--red-50: rgb(var(--red-50_rgb));
}

:root {
	--red-100_red: 255;
	--red-100_green: 233;
	--red-100_blue: 229;
	--red-100_rgb: var(--red-100_red) var(--red-100_green) var(--red-100_blue);
	--red-100: rgb(var(--red-100_rgb));
}

:root {
	--red-200_red: 255;
	--red-200_green: 199;
	--red-200_blue: 190;
	--red-200_rgb: var(--red-200_red) var(--red-200_green) var(--red-200_blue);
	--red-200: rgb(var(--red-200_rgb));
}

:root {
	--red-300_red: 251;
	--red-300_green: 166;
	--red-300_blue: 154;
	--red-300_rgb: var(--red-300_red) var(--red-300_green) var(--red-300_blue);
	--red-300: rgb(var(--red-300_rgb));
}

:root {
	--red-400_red: 243;
	--red-400_green: 133;
	--red-400_blue: 119;
	--red-400_rgb: var(--red-400_red) var(--red-400_green) var(--red-400_blue);
	--red-400: rgb(var(--red-400_rgb));
}

:root {
	--red-500_red: 232;
	--red-500_green: 94;
	--red-500_blue: 82;
	--red-500_rgb: var(--red-500_red) var(--red-500_green) var(--red-500_blue);
	--red-500: rgb(var(--red-500_rgb));
}

:root {
	--red-600_red: 189;
	--red-600_green: 79;
	--red-600_blue: 68;
	--red-600_rgb: var(--red-600_red) var(--red-600_green) var(--red-600_blue);
	--red-600: rgb(var(--red-600_rgb));
}

:root {
	--red-700_red: 156;
	--red-700_green: 67;
	--red-700_blue: 58;
	--red-700_rgb: var(--red-700_red) var(--red-700_green) var(--red-700_blue);
	--red-700: rgb(var(--red-700_rgb));
}

:root {
	--red-800_red: 122;
	--red-800_green: 54;
	--red-800_blue: 47;
	--red-800_rgb: var(--red-800_red) var(--red-800_green) var(--red-800_blue);
	--red-800: rgb(var(--red-800_rgb));
}

:root {
	--red-900_red: 95;
	--red-900_green: 44;
	--red-900_blue: 38;
	--red-900_rgb: var(--red-900_red) var(--red-900_green) var(--red-900_blue);
	--red-900: rgb(var(--red-900_rgb));
}
