:root {
	--gray-50: #FAFAFA;
}

:root {
	--gray-100: #EDEDED;
}

:root {
	--gray-200: #D4D4D4;
}

:root {
	--gray-300: #BCBCBC;
}

:root {
	--gray-400: #A4A4A4;
}

:root {
	--gray-500: #8B8B8B;
}

:root {
	--gray-600: #727272;
}

:root {
	--gray-700: #5F5F5F;
}

:root {
	--gray-800: #4B4B4B;
}

:root {
	--gray-900: #3B3B3B;
}
