:root {
	--gray-50: #fafafa;
}

:root {
	--gray-100: #ededed;
}

:root {
	--gray-200: #d4d4d4;
}

:root {
	--gray-300: #bcbcbc;
}

:root {
	--gray-400: #a4a4a4;
}

:root {
	--gray-500: #8b8b8b;
}

:root {
	--gray-600: #727272;
}

:root {
	--gray-700: #5f5f5f;
}

:root {
	--gray-800: #4b4b4b;
}

:root {
	--gray-900: #3b3b3b;
}
