:root {
	--gray-50_hue: 0deg;
	--gray-50_saturation: 0%;
	--gray-50_lightness: 98.039%;
	--gray-50_alpha: 1;
	--gray-50_hsl: var(--gray-50_hue) var(--gray-50_saturation) var(--gray-50_lightness);
	--gray-50_hsla: var(--gray-50_hsl) / var(--gray-50_alpha);
	--gray-50: hsla(var(--gray-50_hsla));
}

:root {
	--gray-100_hue: 0deg;
	--gray-100_saturation: 0%;
	--gray-100_lightness: 92.941%;
	--gray-100_alpha: 1;
	--gray-100_hsl: var(--gray-100_hue) var(--gray-100_saturation) var(--gray-100_lightness);
	--gray-100_hsla: var(--gray-100_hsl) / var(--gray-100_alpha);
	--gray-100: hsla(var(--gray-100_hsla));
}

:root {
	--gray-200_hue: 0deg;
	--gray-200_saturation: 0%;
	--gray-200_lightness: 83.137%;
	--gray-200_alpha: 1;
	--gray-200_hsl: var(--gray-200_hue) var(--gray-200_saturation) var(--gray-200_lightness);
	--gray-200_hsla: var(--gray-200_hsl) / var(--gray-200_alpha);
	--gray-200: hsla(var(--gray-200_hsla));
}

:root {
	--gray-300_hue: 0deg;
	--gray-300_saturation: 0%;
	--gray-300_lightness: 73.725%;
	--gray-300_alpha: 1;
	--gray-300_hsl: var(--gray-300_hue) var(--gray-300_saturation) var(--gray-300_lightness);
	--gray-300_hsla: var(--gray-300_hsl) / var(--gray-300_alpha);
	--gray-300: hsla(var(--gray-300_hsla));
}

:root {
	--gray-400_hue: 0deg;
	--gray-400_saturation: 0%;
	--gray-400_lightness: 64.314%;
	--gray-400_alpha: 1;
	--gray-400_hsl: var(--gray-400_hue) var(--gray-400_saturation) var(--gray-400_lightness);
	--gray-400_hsla: var(--gray-400_hsl) / var(--gray-400_alpha);
	--gray-400: hsla(var(--gray-400_hsla));
}

:root {
	--gray-500_hue: 0deg;
	--gray-500_saturation: 0%;
	--gray-500_lightness: 54.51%;
	--gray-500_alpha: 1;
	--gray-500_hsl: var(--gray-500_hue) var(--gray-500_saturation) var(--gray-500_lightness);
	--gray-500_hsla: var(--gray-500_hsl) / var(--gray-500_alpha);
	--gray-500: hsla(var(--gray-500_hsla));
}

:root {
	--gray-600_hue: 0deg;
	--gray-600_saturation: 0%;
	--gray-600_lightness: 44.706%;
	--gray-600_alpha: 1;
	--gray-600_hsl: var(--gray-600_hue) var(--gray-600_saturation) var(--gray-600_lightness);
	--gray-600_hsla: var(--gray-600_hsl) / var(--gray-600_alpha);
	--gray-600: hsla(var(--gray-600_hsla));
}

:root {
	--gray-700_hue: 0deg;
	--gray-700_saturation: 0%;
	--gray-700_lightness: 37.255%;
	--gray-700_alpha: 1;
	--gray-700_hsl: var(--gray-700_hue) var(--gray-700_saturation) var(--gray-700_lightness);
	--gray-700_hsla: var(--gray-700_hsl) / var(--gray-700_alpha);
	--gray-700: hsla(var(--gray-700_hsla));
}

:root {
	--gray-800_hue: 0deg;
	--gray-800_saturation: 0%;
	--gray-800_lightness: 29.412%;
	--gray-800_alpha: 1;
	--gray-800_hsl: var(--gray-800_hue) var(--gray-800_saturation) var(--gray-800_lightness);
	--gray-800_hsla: var(--gray-800_hsl) / var(--gray-800_alpha);
	--gray-800: hsla(var(--gray-800_hsla));
}

:root {
	--gray-900_hue: 0deg;
	--gray-900_saturation: 0%;
	--gray-900_lightness: 23.137%;
	--gray-900_alpha: 1;
	--gray-900_hsl: var(--gray-900_hue) var(--gray-900_saturation) var(--gray-900_lightness);
	--gray-900_hsla: var(--gray-900_hsl) / var(--gray-900_alpha);
	--gray-900: hsla(var(--gray-900_hsla));
}
