:root {
	--yellow-50: #fdf9f5;
}

:root {
	--yellow-100: #f8ecdc;
}

:root {
	--yellow-200: #ead1aa;
}

:root {
	--yellow-300: #dbb77a;
}

:root {
	--yellow-400: #c89e4a;
}

:root {
	--yellow-500: #b28306;
}

:root {
	--yellow-600: #926c0e;
}

:root {
	--yellow-700: #795a11;
}

:root {
	--yellow-800: #5f4712;
}

:root {
	--yellow-900: #4b3811;
}
