:root {
	--yellow-50: #FDF9F5;
}

:root {
	--yellow-100: #F8ECDC;
}

:root {
	--yellow-200: #EAD1AA;
}

:root {
	--yellow-300: #DBB77A;
}

:root {
	--yellow-400: #C89E4A;
}

:root {
	--yellow-500: #B28306;
}

:root {
	--yellow-600: #926C0E;
}

:root {
	--yellow-700: #795A11;
}

:root {
	--yellow-800: #5F4712;
}

:root {
	--yellow-900: #4B3811;
}
