:root {
	--yellow-50: #FDF9F5FF;
}

:root {
	--yellow-100: #F8ECDCFF;
}

:root {
	--yellow-200: #EAD1AAFF;
}

:root {
	--yellow-300: #DBB77AFF;
}

:root {
	--yellow-400: #C89E4AFF;
}

:root {
	--yellow-500: #B28306FF;
}

:root {
	--yellow-600: #926C0EFF;
}

:root {
	--yellow-700: #795A11FF;
}

:root {
	--yellow-800: #5F4712FF;
}

:root {
	--yellow-900: #4B3811FF;
}
