:root {
	--yellow-50_lightness: 97.647%;
	--yellow-50_chroma: 2.468%;
	--yellow-50_hue: 30deg;
	--yellow-50_alpha: 1;
	--yellow-50_lch: var(--yellow-50_lightness) var(--yellow-50_chroma) var(--yellow-50_hue);
	--yellow-50_lcha: var(--yellow-50_lch) / var(--yellow-50_alpha);
	--yellow-50: lch(var(--yellow-50_lch));
}

:root {
	--yellow-100_lightness: 91.765%;
	--yellow-100_chroma: 9.308%;
	--yellow-100_hue: 34.286deg;
	--yellow-100_alpha: 1;
	--yellow-100_lch: var(--yellow-100_lightness) var(--yellow-100_chroma) var(--yellow-100_hue);
	--yellow-100_lcha: var(--yellow-100_lch) / var(--yellow-100_alpha);
	--yellow-100: lch(var(--yellow-100_lch));
}

:root {
	--yellow-200_lightness: 79.216%;
	--yellow-200_chroma: 22.747%;
	--yellow-200_hue: 36.563deg;
	--yellow-200_alpha: 1;
	--yellow-200_lch: var(--yellow-200_lightness) var(--yellow-200_chroma) var(--yellow-200_hue);
	--yellow-200_lcha: var(--yellow-200_lch) / var(--yellow-200_alpha);
	--yellow-200: lch(var(--yellow-200_lch));
}

:root {
	--yellow-300_lightness: 66.863%;
	--yellow-300_chroma: 36.146%;
	--yellow-300_hue: 37.732deg;
	--yellow-300_alpha: 1;
	--yellow-300_lch: var(--yellow-300_lightness) var(--yellow-300_chroma) var(--yellow-300_hue);
	--yellow-300_lcha: var(--yellow-300_lch) / var(--yellow-300_alpha);
	--yellow-300: lch(var(--yellow-300_lch));
}

:root {
	--yellow-400_lightness: 53.725%;
	--yellow-400_chroma: 49.203%;
	--yellow-400_hue: 40deg;
	--yellow-400_alpha: 1;
	--yellow-400_lch: var(--yellow-400_lightness) var(--yellow-400_chroma) var(--yellow-400_hue);
	--yellow-400_lcha: var(--yellow-400_lch) / var(--yellow-400_alpha);
	--yellow-400: lch(var(--yellow-400_lch));
}

:root {
	--yellow-500_lightness: 36.078%;
	--yellow-500_chroma: 62.782%;
	--yellow-500_hue: 43.605deg;
	--yellow-500_alpha: 1;
	--yellow-500_lch: var(--yellow-500_lightness) var(--yellow-500_chroma) var(--yellow-500_hue);
	--yellow-500_lcha: var(--yellow-500_lch) / var(--yellow-500_alpha);
	--yellow-500: lch(var(--yellow-500_lch));
}

:root {
	--yellow-600_lightness: 31.373%;
	--yellow-600_chroma: 52.236%;
	--yellow-600_hue: 42.727deg;
	--yellow-600_alpha: 1;
	--yellow-600_lch: var(--yellow-600_lightness) var(--yellow-600_chroma) var(--yellow-600_hue);
	--yellow-600_lcha: var(--yellow-600_lch) / var(--yellow-600_alpha);
	--yellow-600: lch(var(--yellow-600_lch));
}

:root {
	--yellow-700_lightness: 27.059%;
	--yellow-700_chroma: 43.597%;
	--yellow-700_hue: 42.115deg;
	--yellow-700_alpha: 1;
	--yellow-700_lch: var(--yellow-700_lightness) var(--yellow-700_chroma) var(--yellow-700_hue);
	--yellow-700_lcha: var(--yellow-700_lch) / var(--yellow-700_alpha);
	--yellow-700: lch(var(--yellow-700_lch));
}

:root {
	--yellow-800_lightness: 22.157%;
	--yellow-800_chroma: 34.217%;
	--yellow-800_hue: 41.299deg;
	--yellow-800_alpha: 1;
	--yellow-800_lch: var(--yellow-800_lightness) var(--yellow-800_chroma) var(--yellow-800_hue);
	--yellow-800_lcha: var(--yellow-800_lch) / var(--yellow-800_alpha);
	--yellow-800: lch(var(--yellow-800_lch));
}

:root {
	--yellow-900_lightness: 18.039%;
	--yellow-900_chroma: 26.923%;
	--yellow-900_hue: 40.345deg;
	--yellow-900_alpha: 1;
	--yellow-900_lch: var(--yellow-900_lightness) var(--yellow-900_chroma) var(--yellow-900_hue);
	--yellow-900_lcha: var(--yellow-900_lch) / var(--yellow-900_alpha);
	--yellow-900: lch(var(--yellow-900_lch));
}
