:root {
	--cyan_hue: 180.764deg;
	--cyan_saturation: 100%;
	--cyan_lightness: 30.784%;
	--cyan_alpha: 1;
	--cyan_hsl: var(--cyan_hue) var(--cyan_saturation) var(--cyan_lightness);
	--cyan_hsla: var(--cyan_hsl) / var(--cyan_alpha);
	--cyan: hsla(var(--cyan_hsla));
}
