:root {
	--cyan_red: 0;
	--cyan_green: 155;
	--cyan_blue: 157;
	--cyan_alpha: 1;
	--cyan_rgb: var(--cyan_red) var(--cyan_green) var(--cyan_blue);
	--cyan_rgba: var(--cyan_rgb) / var(--cyan_alpha);
	--cyan: rgba(var(--cyan_rgba));
}
