:root {
	--red_lightness: 61.569%;
	--red_chroma: 62.949%;
	--red_hue: 4.8deg;
	--red_alpha: 1;
	--red_lch: var(--red_lightness) var(--red_chroma) var(--red_hue);
	--red_lcha: var(--red_lch) / var(--red_alpha);
	--red: lch(var(--red_lch));
}
