:root {
	--red_red: 232;
	--red_green: 94;
	--red_blue: 82;
	--red_alpha: 1;

	/* prettier-ignore */
	--red_rgb: var(--red_red) var(--red_green) var(--red_blue);
	--red: rgb(var(--red_rgb) var(--red_alpha));
}
