:root {
	--green-50: #f8fbf6;
}

:root {
	--green-100: #e8f0e0;
}

:root {
	--green-200: #c6dbb3;
}

:root {
	--green-300: #a4c688;
}

:root {
	--green-400: #81b25d;
}

:root {
	--green-500: #5a9b2e;
}

:root {
	--green-600: #4c7f28;
}

:root {
	--green-700: #406924;
}

:root {
	--green-800: #34531e;
}

:root {
	--green-900: #2b411a;
}
