:root {
	--green-50: #F8FBF6;
}

:root {
	--green-100: #E8F0E0;
}

:root {
	--green-200: #C6DBB3;
}

:root {
	--green-300: #A4C688;
}

:root {
	--green-400: #81B25D;
}

:root {
	--green-500: #5A9B2E;
}

:root {
	--green-600: #4C7F28;
}

:root {
	--green-700: #406924;
}

:root {
	--green-800: #34531E;
}

:root {
	--green-900: #2B411A;
}
