:root {
	--green-50: #F8FBF6FF;
}

:root {
	--green-100: #E8F0E0FF;
}

:root {
	--green-200: #C6DBB3FF;
}

:root {
	--green-300: #A4C688FF;
}

:root {
	--green-400: #81B25DFF;
}

:root {
	--green-500: #5A9B2EFF;
}

:root {
	--green-600: #4C7F28FF;
}

:root {
	--green-700: #406924FF;
}

:root {
	--green-800: #34531EFF;
}

:root {
	--green-900: #2B411AFF;
}
