:root {
	--brightGreen_hue: 94.588deg;
	--brightGreen_saturation: 35.565%;
	--brightGreen_lightness: 53.137%;
	--brightGreen_hsl: var(--brightGreen_hue) var(--brightGreen_saturation) var(--brightGreen_lightness);
	--brightGreen: hsl(var(--brightGreen_hsl));
}
