:root {
	--brightWhite_hue: NaNdeg;
	--brightWhite_saturation: 0%;
	--brightWhite_lightness: 92.941%;
	--brightWhite_hsl: var(--brightWhite_hue) var(--brightWhite_saturation) var(--brightWhite_lightness);
	--brightWhite: hsl(var(--brightWhite_hsl));
}
