:root {
	--brightWhite_lightness: 92.941%;
	--brightWhite_chroma: 0%;
	--brightWhite_hue: NaNdeg;
	--brightWhite_lch: var(--brightWhite_lightness) var(--brightWhite_chroma) var(--brightWhite_hue);
	--brightWhite: lch(var(--brightWhite_lch));
}
