:root {
	--bright-black_lightness: 29.412%;
	--bright-black_chroma: 0%;
	--bright-black_hue: 0deg;
	--bright-black_lch: var(--bright-black_lightness) var(--bright-black_chroma) var(--bright-black_hue);
	--bright-black: lch(var(--bright-black_lch));
}
