:root {
	--white_lightness: 98.039%;
	--white_chroma: 0%;
	--white_hue: 0deg;
	--white_alpha: 1;
	--white_lch: var(--white_lightness) var(--white_chroma) var(--white_hue);
	--white_lcha: var(--white_lch) / var(--white_alpha);
	--white: lch(var(--white_lch));
}
