:root {
	--brightCyan_lightness: 53.137%;
	--brightCyan_chroma: 26.51%;
	--brightCyan_hue: 180.706deg;
	--brightCyan_alpha: 1;
	--brightCyan_lch: var(--brightCyan_lightness) var(--brightCyan_chroma) var(--brightCyan_hue);
	--brightCyan_lcha: var(--brightCyan_lch) / var(--brightCyan_alpha);
	--brightCyan: lcha(var(--brightCyan_lcha));
}
