:root {
	--brightCyan_red: 93;
	--brightCyan_green: 177;
	--brightCyan_blue: 178;
	--brightCyan_rgb: var(--brightCyan_red) var(--brightCyan_green) var(--brightCyan_blue);
	--brightCyan: rgb(var(--brightCyan_rgb));
}
