:root {
	--black_hue: 0deg;
	--black_saturation: 0%;
	--black_lightness: 23.137%;
	--black_alpha: 1;

	/* prettier-ignore */
	--black_hsl: var(--black_lightness) var(--black_hue) var(--black_saturation);
	--black: hsl(var(--black_hsl) var(--black_alpha));
}
