:root {
	--black_red: 59;
	--black_green: 59;
	--black_blue: 59;
	--black_alpha: 1;

	/* prettier-ignore */
	--black_rgb: var(--black_red) var(--black_green) var(--black_blue);
	--black: rgb(var(--black_rgb) var(--black_alpha));
}
