:root {
	--cyan-50: #f6fbfb;
}

:root {
	--cyan-100: #e2f0f0;
}

:root {
	--cyan-200: #b8dbdb;
}

:root {
	--cyan-300: #8dc6c6;
}

:root {
	--cyan-400: #5db1b2;
}

:root {
	--cyan-500: #009b9d;
}

:root {
	--cyan-600: #137f80;
}

:root {
	--cyan-700: #18696a;
}

:root {
	--cyan-800: #195354;
}

:root {
	--cyan-900: #184142;
}
