:root {
	--cyan-50: #F6FBFB;
}

:root {
	--cyan-100: #E2F0F0;
}

:root {
	--cyan-200: #B8DBDB;
}

:root {
	--cyan-300: #8DC6C6;
}

:root {
	--cyan-400: #5DB1B2;
}

:root {
	--cyan-500: #009B9D;
}

:root {
	--cyan-600: #137F80;
}

:root {
	--cyan-700: #18696A;
}

:root {
	--cyan-800: #195354;
}

:root {
	--cyan-900: #184142;
}
