:root {
	--cyan-50: #F6FBFBFF;
}

:root {
	--cyan-100: #E2F0F0FF;
}

:root {
	--cyan-200: #B8DBDBFF;
}

:root {
	--cyan-300: #8DC6C6FF;
}

:root {
	--cyan-400: #5DB1B2FF;
}

:root {
	--cyan-500: #009B9DFF;
}

:root {
	--cyan-600: #137F80FF;
}

:root {
	--cyan-700: #18696AFF;
}

:root {
	--cyan-800: #195354FF;
}

:root {
	--cyan-900: #184142FF;
}
