:root {
	--cyan-50_red: 246;
	--cyan-50_green: 251;
	--cyan-50_blue: 251;
	--cyan-50_rgb: var(--cyan-50_red) var(--cyan-50_green) var(--cyan-50_blue);
	--cyan-50: rgb(var(--cyan-50_rgb));
}

:root {
	--cyan-100_red: 226;
	--cyan-100_green: 240;
	--cyan-100_blue: 240;
	--cyan-100_rgb: var(--cyan-100_red) var(--cyan-100_green) var(--cyan-100_blue);
	--cyan-100: rgb(var(--cyan-100_rgb));
}

:root {
	--cyan-200_red: 184;
	--cyan-200_green: 219;
	--cyan-200_blue: 219;
	--cyan-200_rgb: var(--cyan-200_red) var(--cyan-200_green) var(--cyan-200_blue);
	--cyan-200: rgb(var(--cyan-200_rgb));
}

:root {
	--cyan-300_red: 141;
	--cyan-300_green: 198;
	--cyan-300_blue: 198;
	--cyan-300_rgb: var(--cyan-300_red) var(--cyan-300_green) var(--cyan-300_blue);
	--cyan-300: rgb(var(--cyan-300_rgb));
}

:root {
	--cyan-400_red: 93;
	--cyan-400_green: 177;
	--cyan-400_blue: 178;
	--cyan-400_rgb: var(--cyan-400_red) var(--cyan-400_green) var(--cyan-400_blue);
	--cyan-400: rgb(var(--cyan-400_rgb));
}

:root {
	--cyan-500_red: 0;
	--cyan-500_green: 155;
	--cyan-500_blue: 157;
	--cyan-500_rgb: var(--cyan-500_red) var(--cyan-500_green) var(--cyan-500_blue);
	--cyan-500: rgb(var(--cyan-500_rgb));
}

:root {
	--cyan-600_red: 19;
	--cyan-600_green: 127;
	--cyan-600_blue: 128;
	--cyan-600_rgb: var(--cyan-600_red) var(--cyan-600_green) var(--cyan-600_blue);
	--cyan-600: rgb(var(--cyan-600_rgb));
}

:root {
	--cyan-700_red: 24;
	--cyan-700_green: 105;
	--cyan-700_blue: 106;
	--cyan-700_rgb: var(--cyan-700_red) var(--cyan-700_green) var(--cyan-700_blue);
	--cyan-700: rgb(var(--cyan-700_rgb));
}

:root {
	--cyan-800_red: 25;
	--cyan-800_green: 83;
	--cyan-800_blue: 84;
	--cyan-800_rgb: var(--cyan-800_red) var(--cyan-800_green) var(--cyan-800_blue);
	--cyan-800: rgb(var(--cyan-800_rgb));
}

:root {
	--cyan-900_red: 24;
	--cyan-900_green: 65;
	--cyan-900_blue: 66;
	--cyan-900_rgb: var(--cyan-900_red) var(--cyan-900_green) var(--cyan-900_blue);
	--cyan-900: rgb(var(--cyan-900_rgb));
}
