:root {
	--brightBlack_lightness: 29.412%;
	--brightBlack_chroma: 0%;
	--brightBlack_hue: NaNdeg;
	--brightBlack_alpha: 1;
	--brightBlack_lch: var(--brightBlack_lightness) var(--brightBlack_chroma) var(--brightBlack_hue);
	--brightBlack_lcha: var(--brightBlack_lch) / var(--brightBlack_alpha);
	--brightBlack: lcha(var(--brightBlack_lcha));
}
