:root {
	--brightBlack_red: 75;
	--brightBlack_green: 75;
	--brightBlack_blue: 75;
	--brightBlack_alpha: 1;
	--brightBlack_rgb: var(--brightBlack_red) var(--brightBlack_green) var(--brightBlack_blue);
	--brightBlack_rgba: var(--brightBlack_rgb) / var(--brightBlack_alpha);
	--brightBlack: rgba(var(--brightBlack_rgba));
}
