:root {
	--blue_red: 1;
	--blue_green: 141;
	--blue_blue: 248;
	--blue_alpha: 1;
	--blue_rgb: var(--blue_red) var(--blue_green) var(--blue_blue);
	--blue_rgba: var(--blue_rgb) / var(--blue_alpha);
	--blue: rgba(var(--blue_rgba));
}
