:root {
	--magenta-50: #FCF9FE;
}

:root {
	--magenta-100: #F4EAFA;
}

:root {
	--magenta-200: #E4CCF3;
}

:root {
	--magenta-300: #D3AEEB;
}

:root {
	--magenta-400: #C191E4;
}

:root {
	--magenta-500: #AD71DB;
}

:root {
	--magenta-600: #8D5DB2;
}

:root {
	--magenta-700: #754E93;
}

:root {
	--magenta-800: #5C3E72;
}

:root {
	--magenta-900: #483259;
}
