:root {
	--magenta-50: #fcf9fe;
}

:root {
	--magenta-100: #f4eafa;
}

:root {
	--magenta-200: #e4ccf3;
}

:root {
	--magenta-300: #d3aeeb;
}

:root {
	--magenta-400: #c191e4;
}

:root {
	--magenta-500: #ad71db;
}

:root {
	--magenta-600: #8d5db2;
}

:root {
	--magenta-700: #754e93;
}

:root {
	--magenta-800: #5c3e72;
}

:root {
	--magenta-900: #483259;
}
