:root {
	--magenta-50: #FCF9FEFF;
}

:root {
	--magenta-100: #F4EAFAFF;
}

:root {
	--magenta-200: #E4CCF3FF;
}

:root {
	--magenta-300: #D3AEEBFF;
}

:root {
	--magenta-400: #C191E4FF;
}

:root {
	--magenta-500: #AD71DBFF;
}

:root {
	--magenta-600: #8D5DB2FF;
}

:root {
	--magenta-700: #754E93FF;
}

:root {
	--magenta-800: #5C3E72FF;
}

:root {
	--magenta-900: #483259FF;
}
