:root {
	--magenta-50_hue: 276deg;
	--magenta-50_saturation: 71.429%;
	--magenta-50_lightness: 98.627%;
	--magenta-50_hsl: var(--magenta-50_hue) var(--magenta-50_saturation) var(--magenta-50_lightness);
	--magenta-50: hsl(var(--magenta-50_hsl));
}

:root {
	--magenta-100_hue: 277.5deg;
	--magenta-100_saturation: 61.538%;
	--magenta-100_lightness: 94.902%;
	--magenta-100_hsl: var(--magenta-100_hue) var(--magenta-100_saturation) var(--magenta-100_lightness);
	--magenta-100: hsl(var(--magenta-100_hsl));
}

:root {
	--magenta-200_hue: 276.923deg;
	--magenta-200_saturation: 61.905%;
	--magenta-200_lightness: 87.647%;
	--magenta-200_hsl: var(--magenta-200_hue) var(--magenta-200_saturation) var(--magenta-200_lightness);
	--magenta-200: hsl(var(--magenta-200_hsl));
}

:root {
	--magenta-300_hue: 276.393deg;
	--magenta-300_saturation: 60.396%;
	--magenta-300_lightness: 80.196%;
	--magenta-300_hsl: var(--magenta-300_hue) var(--magenta-300_saturation) var(--magenta-300_lightness);
	--magenta-300: hsl(var(--magenta-300_hsl));
}

:root {
	--magenta-400_hue: 274.699deg;
	--magenta-400_saturation: 60.584%;
	--magenta-400_lightness: 73.137%;
	--magenta-400_hsl: var(--magenta-400_hue) var(--magenta-400_saturation) var(--magenta-400_lightness);
	--magenta-400: hsl(var(--magenta-400_hsl));
}

:root {
	--magenta-500_hue: 273.962deg;
	--magenta-500_saturation: 59.551%;
	--magenta-500_lightness: 65.098%;
	--magenta-500_hsl: var(--magenta-500_hue) var(--magenta-500_saturation) var(--magenta-500_lightness);
	--magenta-500: hsl(var(--magenta-500_hsl));
}

:root {
	--magenta-600_hue: 273.882deg;
	--magenta-600_saturation: 35.565%;
	--magenta-600_lightness: 53.137%;
	--magenta-600_hsl: var(--magenta-600_hue) var(--magenta-600_saturation) var(--magenta-600_lightness);
	--magenta-600: hsl(var(--magenta-600_hsl));
}

:root {
	--magenta-700_hue: 273.913deg;
	--magenta-700_saturation: 30.667%;
	--magenta-700_lightness: 44.118%;
	--magenta-700_hsl: var(--magenta-700_hue) var(--magenta-700_saturation) var(--magenta-700_lightness);
	--magenta-700: hsl(var(--magenta-700_hsl));
}

:root {
	--magenta-800_hue: 274.615deg;
	--magenta-800_saturation: 29.545%;
	--magenta-800_lightness: 34.51%;
	--magenta-800_hsl: var(--magenta-800_hue) var(--magenta-800_saturation) var(--magenta-800_lightness);
	--magenta-800: hsl(var(--magenta-800_hsl));
}

:root {
	--magenta-900_hue: 273.846deg;
	--magenta-900_saturation: 28.058%;
	--magenta-900_lightness: 27.255%;
	--magenta-900_hsl: var(--magenta-900_hue) var(--magenta-900_saturation) var(--magenta-900_lightness);
	--magenta-900: hsl(var(--magenta-900_hsl));
}
