:root {
	--magenta-50_lightness: 98.627%;
	--magenta-50_chroma: 2.766%;
	--magenta-50_hue: 276deg;
	--magenta-50_lch: var(--magenta-50_lightness) var(--magenta-50_chroma) var(--magenta-50_hue);
	--magenta-50: lch(var(--magenta-50_lch));
}

:root {
	--magenta-100_lightness: 94.902%;
	--magenta-100_chroma: 8.988%;
	--magenta-100_hue: 277.5deg;
	--magenta-100_lch: var(--magenta-100_lightness) var(--magenta-100_chroma) var(--magenta-100_hue);
	--magenta-100: lch(var(--magenta-100_lch));
}

:root {
	--magenta-200_lightness: 87.647%;
	--magenta-200_chroma: 22.242%;
	--magenta-200_hue: 276.923deg;
	--magenta-200_lch: var(--magenta-200_lightness) var(--magenta-200_chroma) var(--magenta-200_hue);
	--magenta-200: lch(var(--magenta-200_lch));
}

:root {
	--magenta-300_lightness: 80.196%;
	--magenta-300_chroma: 35.315%;
	--magenta-300_hue: 276.393deg;
	--magenta-300_lch: var(--magenta-300_lightness) var(--magenta-300_chroma) var(--magenta-300_hue);
	--magenta-300: lch(var(--magenta-300_lch));
}

:root {
	--magenta-400_lightness: 73.137%;
	--magenta-400_chroma: 48.5%;
	--magenta-400_hue: 274.699deg;
	--magenta-400_lch: var(--magenta-400_lightness) var(--magenta-400_chroma) var(--magenta-400_hue);
	--magenta-400: lch(var(--magenta-400_lch));
}

:root {
	--magenta-500_lightness: 65.098%;
	--magenta-500_chroma: 62.607%;
	--magenta-500_hue: 273.962deg;
	--magenta-500_lch: var(--magenta-500_lightness) var(--magenta-500_chroma) var(--magenta-500_hue);
	--magenta-500: lch(var(--magenta-500_lch));
}

:root {
	--magenta-600_lightness: 53.137%;
	--magenta-600_chroma: 52.17%;
	--magenta-600_hue: 273.882deg;
	--magenta-600_lch: var(--magenta-600_lightness) var(--magenta-600_chroma) var(--magenta-600_hue);
	--magenta-600: lch(var(--magenta-600_lch));
}

:root {
	--magenta-700_lightness: 44.118%;
	--magenta-700_chroma: 43.856%;
	--magenta-700_hue: 273.913deg;
	--magenta-700_lch: var(--magenta-700_lightness) var(--magenta-700_chroma) var(--magenta-700_hue);
	--magenta-700: lch(var(--magenta-700_lch));
}

:root {
	--magenta-800_lightness: 34.51%;
	--magenta-800_chroma: 34.626%;
	--magenta-800_hue: 274.615deg;
	--magenta-800_lch: var(--magenta-800_lightness) var(--magenta-800_chroma) var(--magenta-800_hue);
	--magenta-800: lch(var(--magenta-800_lch));
}

:root {
	--magenta-900_lightness: 27.255%;
	--magenta-900_chroma: 27.041%;
	--magenta-900_hue: 273.846deg;
	--magenta-900_lch: var(--magenta-900_lightness) var(--magenta-900_chroma) var(--magenta-900_hue);
	--magenta-900: lch(var(--magenta-900_lch));
}
