:root {
	--magenta-50_red: 252;
	--magenta-50_green: 249;
	--magenta-50_blue: 254;
	--magenta-50_rgb: var(--magenta-50_red) var(--magenta-50_green) var(--magenta-50_blue);
	--magenta-50: rgb(var(--magenta-50_rgb));
}

:root {
	--magenta-100_red: 244;
	--magenta-100_green: 234;
	--magenta-100_blue: 250;
	--magenta-100_rgb: var(--magenta-100_red) var(--magenta-100_green) var(--magenta-100_blue);
	--magenta-100: rgb(var(--magenta-100_rgb));
}

:root {
	--magenta-200_red: 228;
	--magenta-200_green: 204;
	--magenta-200_blue: 243;
	--magenta-200_rgb: var(--magenta-200_red) var(--magenta-200_green) var(--magenta-200_blue);
	--magenta-200: rgb(var(--magenta-200_rgb));
}

:root {
	--magenta-300_red: 211;
	--magenta-300_green: 174;
	--magenta-300_blue: 235;
	--magenta-300_rgb: var(--magenta-300_red) var(--magenta-300_green) var(--magenta-300_blue);
	--magenta-300: rgb(var(--magenta-300_rgb));
}

:root {
	--magenta-400_red: 193;
	--magenta-400_green: 145;
	--magenta-400_blue: 228;
	--magenta-400_rgb: var(--magenta-400_red) var(--magenta-400_green) var(--magenta-400_blue);
	--magenta-400: rgb(var(--magenta-400_rgb));
}

:root {
	--magenta-500_red: 173;
	--magenta-500_green: 113;
	--magenta-500_blue: 219;
	--magenta-500_rgb: var(--magenta-500_red) var(--magenta-500_green) var(--magenta-500_blue);
	--magenta-500: rgb(var(--magenta-500_rgb));
}

:root {
	--magenta-600_red: 141;
	--magenta-600_green: 93;
	--magenta-600_blue: 178;
	--magenta-600_rgb: var(--magenta-600_red) var(--magenta-600_green) var(--magenta-600_blue);
	--magenta-600: rgb(var(--magenta-600_rgb));
}

:root {
	--magenta-700_red: 117;
	--magenta-700_green: 78;
	--magenta-700_blue: 147;
	--magenta-700_rgb: var(--magenta-700_red) var(--magenta-700_green) var(--magenta-700_blue);
	--magenta-700: rgb(var(--magenta-700_rgb));
}

:root {
	--magenta-800_red: 92;
	--magenta-800_green: 62;
	--magenta-800_blue: 114;
	--magenta-800_rgb: var(--magenta-800_red) var(--magenta-800_green) var(--magenta-800_blue);
	--magenta-800: rgb(var(--magenta-800_rgb));
}

:root {
	--magenta-900_red: 72;
	--magenta-900_green: 50;
	--magenta-900_blue: 89;
	--magenta-900_rgb: var(--magenta-900_red) var(--magenta-900_green) var(--magenta-900_blue);
	--magenta-900: rgb(var(--magenta-900_rgb));
}
