:root {
	--brightBlue_lightness: 70.784%;
	--brightBlue_chroma: 48.696%;
	--brightBlue_hue: 216.596deg;
	--brightBlue_alpha: 1;
	--brightBlue_lch: var(--brightBlue_lightness) var(--brightBlue_chroma) var(--brightBlue_hue);
	--brightBlue_lcha: var(--brightBlue_lch) / var(--brightBlue_alpha);
	--brightBlue: lcha(var(--brightBlue_lcha));
}
