:root {
	--brightBlue_red: 110;
	--brightBlue_green: 165;
	--brightBlue_blue: 251;
	--brightBlue_rgb: var(--brightBlue_red) var(--brightBlue_green) var(--brightBlue_blue);
	--brightBlue: rgb(var(--brightBlue_rgb));
}
