:root {
	--bright-cyan_hue: 180.706deg;
	--bright-cyan_saturation: 35.565%;
	--bright-cyan_lightness: 53.137%;
	--bright-cyan_alpha: 1;

	/* prettier-ignore */
	--bright-cyan_hsl: var(--bright-cyan_lightness) var(--bright-cyan_hue) var(--bright-cyan_saturation);
	--bright-cyan: hsl(var(--bright-cyan_hsl) var(--bright-cyan_alpha));
}
